@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Fredoka';
  src: url('Fredoka-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  object-fit: cover
}

body, button {
  color: #fff;
  font-size: 18px;
  font-family: fredoka, system-ui, -apple-system, sans-serif
}

a {
  color: #fff;
  font-size: 18px
}

header {
  background-image: url(/img/Muster_Hintergrund_header.jpg);
  background-size: contain
}

header nav {
  background: #BF172F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0
}

header .logo {
  height: 64px
}

header nav div {
  width: 100%
}

.menu_links {
  display: flex;
  gap: 20px
}

.menu_links a {
  color: #fff
}

.phone_number {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end
}

.phone_number div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 30px
}

.phone_number img {
  height: 25px
}

.phone_number a {
  font-size: 26px;
  color: #77AC27;
  font-weight: 600
}

.wrapper {
  max-width: 1260px;
  margin: auto;
  padding: 0 20px
}

header main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  position: relative
}

header main .header_gericht button {
  background: #FFEA3D;
  width: 360px;
  padding: 15px 0;
  border-radius: 9999px;
  color: #AA3124;
  font-size: 22px;
  font-weight: 500
}

header main .header_gericht {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 25px;
  background-image: url(/img/header_gericht.png);
  background-size: contain
}

header main .header_gericht img {
  width: 100%
}

header main .price {
  position: absolute;
  right: 0;
  background-color: #77AC27;
  height: 180px;
  width: 180px;
  border-radius: 9999px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

header main .price p {
  font-weight: 500
}

.description {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: #F6E9E7
}

.description .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px
}

.description p {
  color: #BF172F;
  width: 850px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center
}

.description .title {
  font-size: 22px
}

.Mittagsbuffet {
  background-image: url(/img/Muster_Hintergrund_Öffnungszeiten.jpg);
  background-size: contain;
  padding-top: 230px;
  padding-bottom: 40px
}

.Mittagsbuffet div {
  width: 660px;
  height: 160px;
  background-color: #BF172F;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.Mittagsbuffet .price {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #77AC27;
  border-radius: 9999px;
  right: 25px;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.Speisekarte {
  background-color: #FF9144;
  position: relative;
  overflow-x: hidden
}

.Speisekarte::after {
  content: "";
  display: block;
  background-image: url(/img/chicken_masala_rechts.png);
  background-size: contain;
  width: 500px;
  height: 500px;
  position: absolute;
  right: -150px;
  top: 50px
}

.Speisekarte::before {
  content: "";
  display: block;
  background-image: url(/img/veggie_masala_links.png);
  background-size: contain;
  width: 500px;
  height: 500px;
  position: absolute;
  left: -150px;
  bottom: 250px
}

.Speisekarte .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 140px
}

.Speisekarte .Haken {
  display: flex;
  align-items: center;
  gap: 30px
}

.Speisekarte .Haken p {
  color: #AA3124;
  font-size: 22px;
  font-weight: 600
}

.Speisekarte .menu_slider {
  display: flex;
  align-items: center;
  gap: 30px
}

.Speisekarte .menu_slider .menu_img {
  width: 660px
}

.Speisekarte .menu_slider .arrow_left {
  transform: rotateZ(180deg)
}

.Speisekarte .button {
  font-size: 20px;
  font-weight: 600;
  color: #AA3124;
  border: 3px solid #AA3124;
  border-radius: 9999px;
  padding: 10px 20px
}

.gallery {
  display: flex;
  gap: 6px
}

.gallery img {
  width: 100%;
  height: 270px
}

footer {
  background-color: #BF172F;
  padding: 40px 0
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 29px;
  gap: 30px
}

footer .footer__contacts {
  display: flex;
  gap: 80px
}

footer .footer__contacts .left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px
}

footer .footer__contacts .left_block .social img {
  margin-left: 10px
}

footer .footer__contacts .left_block p {
  text-align: right
}

footer .payment {
  text-align: center
}

footer .bottom_field {
  display: flex;
  gap: 80px
}

.medium {
  font-weight: 500
}

.semi_bold {
  font-weight: 600
}

.bold {
  font-weight: 700
}

.size_14 {
  font-size: 14px
}

.size_20 {
  font-size: 20px
}

.size_22 {
  font-size: 22px
}

.size_24 {
  font-size: 24px
}

.size_32 {
  font-size: 32px
}
